@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

:root {
  --main-backGround: #fefceb;
  --beatOne-backGround: #fffef6;
  --beatTwo-backGround: #f1efdc;
  --kickBackGround: rgba(178, 13, 255, 0.6);
  --kickBackGroundNote: rgba(190, 86, 239, 0.346);
  --kickBackGroundHover: rgb(162, 23, 226);
  --snareBackGround: rgba(100, 188, 250);
  --snareBackGroundNote: rgba(100, 187, 250, 0.582);
  --snareBackGroundHover: rgba(24, 86, 141, 0.8);
  --rimBackGround: rgba(255, 143, 0);
  --rimBackGroundNote: rgba(255, 190, 6);
  --rimBackGroundHover: rgba(207, 111, 2, 0.982);
  --hiHatBackGround: rgba(30, 193, 21, 1);
  --hiHatBackGroundNote: rgba(96, 237, 112, 0.391);
  --hiHatBackGroundHover: rgb(24, 115, 20);
  --test-border: 3px solid red;
  --test-border2: 2px solid green;
  --beat-border: 1px solid black;
  --main-font: "Architects Daughter", cursive;

  
  --size-6: 0.375rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-26: 1.625rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-70: 4.375rem;
  --size-80: 5rem;
  --size-100: 6.25rem;
  --size-110: 6.875rem;
  --size-120: 7.5rem;
  --size-150: 9.375rem;

  --logo-size: 15rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-backGround);
  font-family: var(--main-font);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.logo-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo-container img {
  position: relative;
  left: var(--size-6);
  align-self: center;
  width: var(--logo-size);
}

.test-border {
  border: var(--test-border);
}

.test-border2 {
  border: var(--test-border2);
}
/* HEADER */

.header {
  height: 44px;
  position: relative;
}

/* TRANSPORT */

.global-transport {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;

  gap: 0px;
  height: 50px;

  border: 1px solid black;
}

.tempo-container {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-24);
}

span.tempo-display {
  min-width: 80px;
    text-align: center;
  font-size: var(--size-20);
}





/* styles.css */

/* Metronome button styling */

.metronome-img {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metronome-button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.metronome-button.active {
  background-color: rgba(189, 85, 237, 0.444);
  box-shadow: 0 0 10px 5px rgba(189, 85, 237, 0.444);
}

.click {
  font-family: var(--main-font);
  font-size: var(--size-18);
}

.transport-buttons {
  display: flex;
  gap: var(--size-30);
}

.transport-btn {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.transport-btn img {
  align-self: center;
}

.play-container:hover {
  background-color: rgba(118, 202, 114, 0.31);
}

.pause-container:hover {
  background-color: rgba(255, 192, 18, 0.31);
}

.stop-container:hover {
  background-color: var(--kickBackGroundNote);
}

.pattern-button-container {
  display: flex;
  gap: var(--size-50); 
}

.pattern-option-button {
  cursor: pointer;
}

.pattern-option-button:hover, .modal-option-button:hover {
  background-color: var(--beatTwo-backGround);
}


.modal-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--size-10);
  padding: var(--size-20);
}

.modal-option-button {
  font-size: var(--size-18);
}

.modal h3 {
  font-size: var(--size-20);
  margin: 0.4rem 0 0.2rem;
  text-align: center;
}


.measures-container {
  grid-column: 2 / span 36;
  display: flex;
  flex-direction: row;
} 


.timeline-item {
  width: 100%;
}



.beat-container {
  border: 1px solid black;
}

.beat-container:nth-child(1) {
  grid-column: 1 / span 4;
}

.beat-container:nth-child(2) {
  grid-column: 5 / span 4;
}
.beat-container:nth-child(3) {
  grid-column: 9 / span 4;
}
.beat-container:nth-child(4) {
  grid-column: 13 / span 4;
}
.beat-container:nth-child(5) {
  grid-column: 17 / span 4;
}
.beat-container:nth-child(6) {
  grid-column: 21 / span 4;
}
.beat-container:nth-child(7) {
  grid-column: 25 / span 4;
}
.beat-container:nth-child(8) {
  grid-column: 29 / span 4;
}
.beat-container:nth-child(9) {
  grid-column: 33 / span 4;
}

p.beat-count {
  padding-left: var(--size-10);
  font-size: var(--size-20);
}

.sequencer-container {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 90.2vh;
}

.drum-stack {
  grid-column: 1 / span 1;
  grid-row: 2 / span 16;
  display: grid;
  justify-items: center;
  align-items: center;
}

.drum-label-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--beat-border);
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: pointer;
  transition: 0.01s;
}

.drum-label-container:active {
  transform: scale(0.11111);
}



.KICK-label  {
  background-color: var(--kickBackGround);
  transition: 0.5s;
}

.KICK-label:hover, .KICK-label.pressed {
  background-color: var(--kickBackGroundHover);
  box-shadow: 0 0 10px 5px var(--kickBackGround);
  color: var(--main-backGround);
}
.SNARE-label {
  background-color: var(--snareBackGround);
  transition: 0.5s;
}

.SNARE-label:hover, .SNARE-label.pressed {
  background-color: var(--snareBackGroundHover);
  box-shadow: 0 0 10px 5px var(--snareBackGround);
  color: var(--main-backGround);
}

.RIM-label {
  background-color: var(--rimBackGround);
  transition: 0.5s;
}

.RIM-label:hover, .RIM-label.pressed {
  background-color: var(--rimBackGroundHover);
  box-shadow: 0 0 10px 5px var(--rimBackGround);
  color: var(--main-backGround);
}

.HH-label {
  background-color: var(--hiHatBackGround);
  transition: 0.5s;
}

.HH-label:hover, .HH-label.pressed {
  background-color: var(--hiHatBackGroundHover);
  box-shadow: 0 0 10px 5px var(--hiHatBackGround);;
  color: var(--main-backGround);
}

.pressed {
  transform: scale(1.1);
}


.beat-divider {
  border: 2px solid black;
  grid-row: 1 / span 4;
}

.subdivision {
  border: 1px solid black;
}

#svg {
  width: 54px;
  height: 54px;
}

.drum-grid {
      display: grid;
      grid-column: 2 / span 36;
      grid-row: 2 / span 15;
      border-bottom: 2px solid black;
      cursor: url('../assets/pencil-lower-left\ 1.png'), auto;
}

.kick-lane, .snare-lane, .rim-lane, .hh-lane, .pitch-lane {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1 / span 32;
}

.kick-lane {
  grid-row: 4 / span 1;
}

.kick-lane .subdivision.active {
  background-color: var(--kickBackGroundNote);
}

.snare-lane {
  grid-row: 3 / span 1;
}
.snare-lane .subdivision.active {
  background-color: var(--snareBackGroundNote);
}


.rim-lane {
  grid-row: 2 / span 1;
}

.rim-lane .subdivision.active {
  background-color: var(--rimBackGroundNote);
}

.hh-lane {
  grid-row: 1 / span 1;
}

.hh-lane .subdivision.active {
  background-color: var(--hiHatBackGroundNote);
}

.timeline-item.playing {
  background-color: var(--snareBackGroundNote);
}



